<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gis.geoctap.mapper.UserMapper">

    <resultMap id="pageUser" type="com.gis.geoctap.entity.User">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role" property="role" />
        <collection property="activitys" javaType="java.util.ArrayList" ofType="com.gis.geoctap.entity.Activity">
            <result column="chargeActivityName" property="name" />
            <result column="chargeTimes" property="times" />
        </collection>
        <collection property="norActivitys" javaType="java.util.ArrayList" ofType="com.gis.geoctap.entity.Activity">
            <result column="norActivityName" property="name" />
            <result column="norTimes" property="times" />
        </collection>
    </resultMap>

    <select id="findPage" resultMap="pageUser">
        select sys_user.*, sc.name as norActivityName, tc.name as chargeActivityName, tc.times as chargeTimes,
        sc.times as norTimes from sys_user
        left join normal_activity
        on sys_user.id = normal_activity.normal_id
        left join activity sc
        on normal_activity.activity_id = sc.id
        left join activity tc
        on sys_user.id = tc.charge_id
        <where>
            <if test="username != null and username != ''">
                and sys_user.username like concat('%', #{username} ,'%')
            </if>
            <if test="email != null and email != ''">
                and sys_user.email like concat('%', #{email} ,'%')
            </if>
            <if test="address != null and address != ''">
                and sys_user.address like concat('%', #{address} ,'%')
            </if>
        </where>
    </select>

</mapper>
